@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

body {
	background: #D1F2EB;
}

tr {
	background: #fff;
}

.container-initial h4 {
	font-family: 'Lobster Two', cursive;
	font-size: 18pt;
}
.container-initial p {
	font-family: 'Lobster Two', cursive;
	font-size: 13pt;
}

#box-login {
	margin: 30% auto 0;
}
#box-cadastro {
	margin: 15% auto 0;
}

#box-login .mini-box {
	padding: 15px;
	
	background: #17A589;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}
#box-cadastro .mini-box {
	padding: 15px;
	
	background: #17A589;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}

#box-login .mini-box:last-child {
	padding: 10px;
	margin: 10px auto 20px;
	background: #17A589;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}

#box-cadastro .mini-box:last-child {
	padding: 10px;
	margin: 10px auto 20px;
	background: #17A589;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}

.img-side {
	margin: 25% auto 0;
	width: 80%;
	height: 80%;
}

/* Visão Geral Page Settings */
.side-border {
	border-right: 2px solid #aaa; 
}
.side-primary-color {
	background: #17A589;
	color: #fff;
	/*box-shadow: 1px 1px 1px #999;*/
}
.side-primary-color:hover {
	background: #0E6655;
	color: #fff;
	box-shadow: 1px 1px 1px #999;
}

.side-secundary-color {
	background: #fff;
	color: #555;
}
.side-secundary-color:hover {
	background: #aaa;
	color: #000;
	box-shadow: 1px 1px 3px #000;
}

.thumbnail {
	background: #fff;
	color: #999;
	padding: 10px;
	border-radius: 0;
	border-style: none;
}

.thumbnail img {
	width: 40%;
	height: 40%;
}

.thumbnail-green img {
	margin: 0 auto;
	width: 20%;
	height: 20%;
}

.thumbnail-green {
	background: #0E6655;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

.breadcrumb {
	background: #17A589;
	color: #fff;
	box-shadow: 1px 1px 2px #999;
}

.breadcrumb-side {
	background: #0E6655;
	color: #fff;
	margin-right: 75%;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	font-size: 18pt;
	border-bottom-right-radius: 10px;
}

.panel-success .panel-heading {
	background: #17A589;
	color: #fff;
	border-color: #17A589;
}

.paginacao .pagination > li > a {
	background: #17A589;
	color: #fff;
	border-color: #fff;
}
.paginacao .pagination > li > a:hover {
	background: #0E6655;
	color: #fff;;
}

.paginacao .pagination > li.active > a {
	background: #0E6655;
	color: #fff;;
	border-color: #0E6655;
}

.box-confirm .modal-header{
	background-color: #17A589;
	color: #fff;
}
.box-confirm .modal-header .bootbox-close-button{
	color: #fff;
}

/* CSS Style Navbar */

.navbar-side {
	background: #17A589;
	border-radius: 0;
}
.navbar-side .navbar-brand {
  color: #fff;
}
.navbar-side .navbar-nav > li > a {
  color: #fff;
}
.navbar-side .navbar-nav > li > a:hover,
.navbar-side .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #0E6655;
}
.navbar-side .navbar-nav > .active > a,
.navbar-side .navbar-nav > .active > a:hover,
.navbar-side .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0E6655;
}
.navbar-side .navbar-nav > .disabled > a,
.navbar-side .navbar-nav > .disabled > a:hover,
.navbar-side .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-side .navbar-toggle {
  border-color: #17A589;
}
.navbar-side .navbar-toggle:hover,
.navbar-side .navbar-toggle:focus {
  background-color: #0E6655;
}
.navbar-side .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-side .navbar-collapse,
.navbar-side .navbar-form {
  border-color: #fff;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #0E6655;
}
.navbar-nav > li > .dropdown-menu li a {
	color: #fff;
}
.navbar-nav > li > .dropdown-menu li a:hover,
.navbar-nav > li > .dropdown-menu li a:active {
	background-color: #0E2205;
	color: #fff;
}
@media (max-width: 767px) {
  .navbar-side .navbar-nav .open .dropdown-menu	{
  	background-color: #0E6655;
  }
  .navbar-side .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-side .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-side .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #0E2205;
  }
  .navbar-side .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-side .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-side .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #0E2205;
  }
  .navbar-side .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-side .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-side .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fff;
    background-color: #0E6655;
  }
}

.backg-giro {
	background-color: #eee;
	width: 100%;
	padding: 15px 0;
}
.backg-cobertura {
	background-color: #ccc;
	width: 100%;
	padding: 15px 0;
}

.container-form {
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	background: #fff;
	box-shadow: 1px 1px 6px #999;
}

.container-form label{
	font-size: 9pt;
}

thead > tr > th {
	text-align: center;
	background:  #0E6655;
	color: #fff;
}

.table-prod > tbody > tr > td:last-child,
.table-prod > tbody > tr > td:first-child {
	text-align: center;
}

footer {
	background-color: #fff;
	box-shadow: 0 -2px 2px #aaa;
	padding: 5px 0;
	margin-top: 30px;
	font-family: 'Lobster Two', cursive;
}

#fixed-endpage{
	position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
	.img-side {
		margin: 10% auto 0;
		width: 60%;
		height: 60%;
	}
	#box-login {
		margin: 0 auto;
	}
	#box-cadastro {
		margin: 0 auto;
	}
	.container-initial h4 {
		font-size: 14pt;
	}
	.breadcrumb-side {
		background: #0E6655;
		color: #fff;
		margin-right: 50%;
		margin-bottom: 20px;
		text-align: center;
		font-family: 'Lobster Two', cursive;
		border-bottom-right-radius: 10px;
	}
	.breadcrumb-side h2 {
		font-size: 16pt;
	}
}